body {
    margin: 0px;
    height: 200vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    background-color:#1F2937;
    color: white;
    padding-left: 20px;
    justify-content: space-between;
}

.headerlinks {
    margin: 0px 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    padding-right: 20px;
}

.toptext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
}

.middleheader {
    font-size: 48px;
    color: #F9FAF8;
}

.middletext {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 500px;
}

.headerlinks li {
    list-style-type: none;
}

.firstimg {
    display: flex;
    height: 300px;
    width: auto;
}

.middle {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 36px;
    background-color:#4e6689;
    color: white;
}

.randominfo {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color:#7097d3;
    color: white;
}

.randominfotitle {
    font-weight: bold;
    font-size: 50px;
}

.infoimg {
    height: 100px;
    width: auto;
}

.infotext {
    display: flex;
    width: 100px;
}

.allinfogroups {
    display: flex;
    gap: 32px;
    flex: 1;
}

.quote {
    display: flex;
    flex: 1;
    background-color:#a4c7fc;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 400px;
}

.quoteauthor {
    display: flex;
    align-self: flex-end;
    padding-right: 500px;
}

.calltoaction {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color:#3882F6;
    color: white;
}

.CTAcontainercontainer {
    display: flex;
    flex-direction: row;
    background-color:aqua;
    padding: 50px 100px;
    border-radius: 10px;
    gap: 200px;
}

.CTAheader {

}

.CTAdesc {

}

.CTAbutton {
    align-self: center;
    color: #3882F6;
    height: 36px;
    width: 100px;
    border-radius: 36px;
}

.footer {
    display: flex;
    flex: 0.1;
    justify-content: center;
    align-items: center;
    padding: 12px 36px;
    background-color: #1F2937;
    color: white;
}